button {
  display: inline-block;
  padding: var(--button-padding);
  height: var(--button-height);
  border: 1px solid transparent;
  border-radius: var(--button-border-radius);
  font-size: var(--button-font-size);
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.ghost,
  &.outline {
    background-color: transparent;
  }

  &.icon {
    position: absolute;
    top: 20px;
    right: 0;
    display: block;
    width: 24px;
    height: 24px;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  &.icon-left {
    padding-left: 52px;

    .icon {
      left: 24.5px;
    }
  }

  &.icon-right {
    .icon {
      right: 18px;
    }
  }
}

@mixin btn($text: var(--color-black-dark), $hover: var(--color-accent-button-hover), $active: var(--color-accent-button-pressed), $text-hover: var(--color-black-dark)) {
  position: relative;
  color: $text;
  transition: all 0.2s ease-in-out;

  .icon {
    background-color: $text;
    transition: all 0.2s ease-in-out;
  }

  &:not([disabled]) {
    &:hover {
      background-color: $hover;
      color: $text-hover;

      .icon {
        background-color: $text-hover;
      }
    }

    &:active {
      background-color: $active;

      .icon {
        background-color: $text-hover;
      }
    }
  }
}

.btn-primary {
  background-color: var(--color-accent-button);

  @include btn;
}

.btn-error {
  @include btn($text: var(--color-error), $hover: var(--color-menu-hover), $active: var(--color-menu-pressed), $text-hover: var(--color-black-light));
}

.btn-secondary {
  box-shadow: 0 -2px 18px rgb(128 128 128 / 10%);
  background-color: var(--color-black-light);

  @include btn($text: var(--color-black-semi), $hover: var(--color-black-light), $active: var(--color-black-75), $text-hover: var(--color-black-semi));

  &:hover {
    box-shadow: 0 0 4px rgb(128 128 128 / 6%);
  }

  &:active {
    box-shadow: 0 0 4px rgb(128 128 128 / 6%);
  }
}
